@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* general button class */

.button {
    letter-spacing: 1px;
    font-size: 22px;
    padding: 8px 26px;
    background-color: #088F8F;
    border-radius: 28px;
    text-shadow: 0px 1px 1px black;
    border: 1px solid #324b4b;
    padding: 12px 40px;
    text-decoration: none;
    color: rgb(238, 238, 238);
    margin: 32px auto;
    font-family: 'Open Sans', sans-serif;
}


/* button animation */

.button:hover {
    background-color: #0eafaf;
    color: rgb(238, 238, 238);
    border-radius: 15px;
    transition: .3s;
}

#store {
    margin-left: 32px;
}